* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**** Navigation ****/

body {
  font-family: "Open Sans", sans-serif;
}

#navbar {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 20px 10px;
  background-color: gray;
  color: white;
}

#navbar .logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#navbar .logo-container p {
  margin-left: 15px;
}

#navbar .nav-links {
  list-style: none;
  margin-top: 10px;
  /* display: flex;
  justify-content: space-between; */
}

#navbar .nav-links .menu-link {
  text-decoration: none;
  color: white;
}

.book-now {
  background-color: #ba55d3;
  color: white;
  /* padding: 10px 15px; */
  /* margin-left: 15px; */
  text-decoration: none;
  border-radius: 20px;
}

#navbar .logo-container .nav-logo {
  width: 50px;
}

.main-container {
  padding: 50px 10px 50px 10px;
  display: flex;
  flex-wrap: wrap;
}

.main-container .description {
  width: 100%;
}

.main-container .description h1 {
  margin-top: 80px;
  margin-bottom: 25px;
  font-size: 36px;
}

.main-container .description p {
  font-weight: bold;
}

.main-container .main-image {
  width: 100%;
}

.main-container .main-image .beach-image {
  margin-top: 20px;
  width: 100%;
}

footer {
  background-color: #f5f5f5;
  padding: 30px 35px;
  color: #555;
}

.footer-container {
  width: 75%;
  margin: auto;
}

.footer-links a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
}

.icons i {
  padding: 10px;
}

/**** Packages ****/

#packages {
  color: #73787c;
}

#packages h2 {
  text-align: center;
}

.card-container {
  font-weight: 700;
}

.card {
  width: 80%;
  margin: 80px auto;
  border: 2px solid #eceeee;
}

.card .card-image-1 {
  height: 300px;
  background-image: url(../images/costa-del-sol.jpg);
  background-position: center;
  background-size: cover;
}

.card .card-image-2 {
  height: 300px;
  background-image: url(../images/london.jpg);
  background-position: center;
  background-size: cover;
}

.card .card-image-3 {
  height: 300px;
  background-image: url(../images/san-francisco.jpg);
  background-position: center;
  background-size: cover;
}

.card .card-description {
  padding: 40px;
}

.card .card-description .duration {
  padding: 20px 0px;
}

.duration span {
  color: #36454f;
}

.card .card-description .duration i {
  color: #e30b5c;
  padding-right: 5px;
}

.card .card-rating {
  background-color: #f6f6f6;
  padding: 25px 40px;
  border-top: 2px solid #eceeee;
  display: flex;
  justify-content: space-between;
}

.card .card-rating i {
  color: #e30b5c;
}

/**** Media Queries ****/

@media (min-width: 768px) {
  #navbar {
    display: flex;
    /* flex-wrap: wrap; - why is this causing them to go on a new line?*/
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: gray;
    color: white;
  }

  #navbar .nav-links {
    display: flex;
    justify-content: space-between;
  }

  #navbar .nav-links .menu-link {
    padding-right: 10px;
  }

  .book-now {
    background-color: #ba55d3;
    color: white;
    padding: 10px 15px;
    margin-left: 15px;
    text-decoration: none;
    border-radius: 20px;
  }

  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .travel-agency-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 75%;
  }

  /**** Packages ****/

  .card .card-image-1 {
    height: 400px;
  }

  .card .card-image-2 {
    height: 400px;
  }

  .card .card-image-3 {
    height: 400px;
  }
}

@media (min-width: 1000px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: gray;
    color: white;
  }

  #navbar .nav-links {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  #navbar .nav-links .menu-link {
    padding-right: 10px;
  }

  .book-now {
    background-color: #ba55d3;
    color: white;
    padding: 10px 15px;
    margin-left: 15px;
    text-decoration: none;
    border-radius: 20px;
  }

  .main-container .description {
    width: 50%;
    padding-right: 50px;
    text-align: justify;
  }

  .main-container .main-image .beach-image {
    width: 400px;
  }

  .main-container .main-image {
    width: 50%;
  }

  .main-container {
    padding: 150px 0px 100px 150px;
    display: flex;
    flex-wrap: wrap;
  }

  #navbar .logo-container {
    display: flex;
    align-items: center;
    width: auto;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  /* .travel-agency-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 75%;
  } */

  /**** Packages ****/

  #packages h2 {
    margin-bottom: 100px;
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    font-weight: 700;
  }

  .card {
    width: 350px;
  }

  .card .card-image-1 {
    height: 250px;
  }

  .card .card-image-2 {
    height: 250px;
  }

  .card .card-image-3 {
    height: 250px;
  }
}
