* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**** Navigation ****/

body {
  font-family: "Open Sans", sans-serif;
}

#navbar {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 20px 10px;
  background-color: gray;
  color: white;
}

#navbar .logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#navbar .logo-container p {
  margin-left: 15px;
}

#navbar .nav-links {
  list-style: none;
  margin-top: 10px;
  /* display: flex;
  justify-content: space-between; */
}

#navbar .nav-links .menu-link {
  text-decoration: none;
  color: white;
}

.book-now {
  background-color: #ba55d3;
  color: white;
  /* padding: 10px 15px; */
  /* margin-left: 15px; */
  text-decoration: none;
  border-radius: 20px;
}

#navbar .logo-container .nav-logo {
  width: 50px;
}

.main-container {
  padding: 50px 10px 50px 10px;
  display: flex;
  flex-wrap: wrap;
}

.main-container .description {
  width: 100%;
}

.main-container .description h1 {
  margin-top: 80px;
  margin-bottom: 25px;
  font-size: 36px;
}

.main-container .description p {
  font-weight: bold;
}

.main-container .main-image {
  width: 100%;
}

.main-container .main-image .beach-image {
  width: 100%;
}

footer {
  background-color: #f5f5f5;
  padding: 30px 35px;
  color: #555;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.travel-agency-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 75%;
}

.footer-links a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
}

.icons i {
  padding: 10px;
}

/**** Media Queries ****/

@media (min-width: 768px) {
}

@media (min-width: 1000px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: gray;
    color: white;
  }

  .main-container .description {
    width: 50%;
    padding-right: 50px;
    text-align: justify;
  }

  .main-container .main-image .beach-image {
    width: 400px;
  }

  .main-container .main-image {
    width: 50%;
  }

  .main-container {
    padding: 150px 0px 100px 150px;
    display: flex;
    flex-wrap: wrap;
  }

  #navbar .logo-container {
    display: flex;
    align-items: center;
    width: auto;
  }
}
