* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**** Navigation ****/

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

#navbar {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 20px 10px;
  background-color: gray;
  color: white;
}

#navbar .logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#navbar .logo-container p {
  margin-left: 15px;
}

#navbar .nav-links {
  list-style: none;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#navbar .nav-links .menu-link {
  text-decoration: none;
  color: white;
}

.book-now {
  background-color: #ba55d3;
  color: white;
  padding: 10px 15px;
  /* margin-left: 15px; */
  text-decoration: none;
  border-radius: 20px;
}

#navbar .logo-container .nav-logo {
  width: 50px;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.main-container .description {
  width: 100%;
}

.main-container .description h1 {
  margin-top: 80px;
  margin-bottom: 25px;
  font-size: 36px;
}

.main-container .description p {
  font-weight: bold;
}

.main-container .main-image {
  width: 100%;
}

.main-container .main-image .beach-image {
  margin-top: 20px;
  width: 100%;
}

footer {
  background-color: #f5f5f5;
  padding: 30px 35px;
  color: #555;
  text-align: center;
}

footer h4 {
  margin-bottom: 10px;
}

footer p {
  margin-bottom: 10px;
}

.footer-container {
  width: 75%;
  margin: auto;
}

.footer-links a {
  color: #555;
  font-weight: 600;
}

footer .icons {
  margin-bottom: 10px;
}

.icons i {
  padding: 10px;
}

/**** Packages ****/

#packages {
  color: #73787c;
}

#packages h2 {
  text-align: left;
  width: 80%;
  margin: 30px auto;
}

.card-container {
  font-weight: 700;
}

.card {
  width: 80%;
  margin: 30px auto;
  border: 2px solid #eceeee;
}

.card .card-image-1 {
  height: 300px;
  background-image: url(../images/costa-del-sol.jpg);
  background-position: center;
  background-size: cover;
}

.card .card-image-2 {
  height: 300px;
  background-image: url(../images/london.jpg);
  background-position: center;
  background-size: cover;
}

.card .card-image-3 {
  height: 300px;
  background-image: url(../images/san-francisco.jpg);
  background-position: center;
  background-size: cover;
}

.card-image {
  position: relative;
}

.label {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  padding: 15px 20px;
  background-color: #e30b5c;
}

.card .card-description {
  padding: 40px;
}

.card .card-description .duration {
  padding: 20px 0px;
}

.duration span {
  color: #36454f;
}

.card .card-description .duration i {
  color: #e30b5c;
  padding-right: 5px;
}

.card .card-rating {
  background-color: #f6f6f6;
  padding: 25px 40px;
  border-top: 2px solid #eceeee;
  display: flex;
  justify-content: space-between;
}

.card .card-rating i {
  color: #e30b5c;
}

.banner {
  margin-top: 75px;
  height: 150px; /* changed for mob */
  background-image: url(../images/golden-gate-crop.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  /* align-items: center; removed for mob */
}

.banner .banner-text {
  color: white;
}

.banner .banner-text h1 {
  margin: 20px 0px; /* changed for mob */
  font-size: 18px; /* changed for mob */
}

.banner .banner-text span {
  border-bottom: 4px solid #e30b5c;
}

.banner .banner-text a {
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  color: #e30b5c;
  font-size: 10px;
  letter-spacing: 1px;
}

#beaches {
  margin-top: 50px;
}

.column-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.column-container .beach-text {
  margin-bottom: 40px;
}

.column-container .beach-text p {
  color: #73787c;
  font-weight: 500;
}

.column-container .beach-text p:not(:first-child) {
  padding-top: 20px;
}

.column-container .beach-text h1 {
  font-size: 30px;
  color: #36454f;
  margin-top: 10px;
}

.column-container .beach-text .beaches-span {
  border-bottom: 4px solid #4acfee;
}

.column-container .beach-text .price {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

.column-container .beach-text .original-price {
  text-decoration: line-through;
  color: #e0e0e0;
}

.column-container .beach-text .for-person {
  font-size: 14px;
}

.column-container .beach-text a {
  padding: 10px 20px;
  border-radius: 20px;
  letter-spacing: 1px;
  color: white;
  background-color: #1cac78;
  font-size: 13px;
}

.column-container .beach-img {
  position: relative;
  height: 350px;
  background-image: url(../images/beach-1.jpg);
  background-size: cover;
  background-position: center;
}

.column-container .countdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 310px;
  text-align: center;
  height: 80px;
  width: 220px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #00b8dd;
  color: white;
  letter-spacing: 2px;
}

.column-container .countdown .number {
  font-size: 10px;
}

.column-container .countdown p {
  font-size: 6px;
}

.column-container .countdown .slash {
  font-size: 20px;
  color: #36454f;
  opacity: 0.1;
}

.tour-container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.tour-icon {
  /* padding-top: 10px; */
  font-size: 30px;
  color: #73787c;
}

.tour-text {
  margin-bottom: 25px;
}

.tour-text h2 {
  color: #36454f;
  margin-bottom: 5px;
}

.tour-text p {
  color: #73787c;
  margin-bottom: 10px;
}

.tour-text a {
  color: #00b7b7;
}

/**** Media Queries ****/

@media (min-width: 768px) {
  #navbar {
    display: flex;
    /* flex-wrap: wrap; - why is this causing them to go on a new line?*/
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: gray;
    color: white;
  }

  #navbar .nav-links {
    display: flex;
    justify-content: space-between;
  }

  #navbar .nav-links .menu-link {
    padding-right: 10px;
  }

  .book-now {
    background-color: #ba55d3;
    color: white;
    padding: 10px 15px;
    margin-left: 15px;
    text-decoration: none;
    border-radius: 20px;
    white-space: nowrap;
  }

  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .travel-agency-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 75%;
  }

  /**** Packages ****/

  .card .card-image-1 {
    height: 400px;
  }

  .card .card-image-2 {
    height: 400px;
  }

  .card .card-image-3 {
    height: 400px;
  }

  .banner {
    height: 240px;
    align-items: center;
  }

  .banner .banner-text {
    display: flex;
    align-items: center; /* why isnt this vertically aligning? - because i wasn't trying to center in proper place */
    justify-content: center; /* put this in .banner instead */
  }

  .banner .banner-text h1 {
    margin-right: 100px;
    font-size: 32px;
  }

  .banner .banner-text a {
    padding: 10px 20px;
    font-size: 12px;
  }

  #beaches {
    margin-top: 70px;
  }

  .column-container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .column-container .beach-text {
    width: 40%;
    padding-right: 75px;
  }

  .column-container .beach-text .beaches-span {
    border-bottom: 4px solid #4acfee;
  }

  .column-container .beach-img {
    width: 60%;
  }

  .column-container .countdown {
    top: 285px;
    height: 125px;
    width: 320px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .column-container .countdown .number {
    font-size: 24px;
  }

  .column-container .countdown p {
    font-size: 10px;
  }

  .column-container .countdown .slash {
    font-size: 60px;
    color: #36454f;
    opacity: 0.1;
  }

  .tour-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    /* margin-top: 150px; */
  }

  .tour {
    /* display: flex; */
    padding-left: 20px;
    padding-right: 20px;
  }

  .tour-text {
    margin-bottom: 0px;
  }

  .tour-icon {
    /* padding-top: 10px; */
    margin-right: 10px;
    font-size: 40px;
  }

  .tour-text h2 {
    margin-bottom: 15px;
  }
}

@media (min-width: 1000px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: gray;
    color: white;
  }

  #navbar .nav-links {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  #navbar .nav-links .menu-link {
    padding-right: 10px;
  }

  .book-now {
    background-color: #ba55d3;
    color: white;
    padding: 10px 15px;
    margin-left: 15px;
    text-decoration: none;
    border-radius: 20px;
  }

  .main-container {
    padding: 50px 80px;
    display: flex;
    flex-wrap: wrap;
  }

  .main-container .description {
    width: 50%;
    padding-right: 50px;
    text-align: justify;
  }

  .main-container .main-image .beach-image {
    width: 400px;
  }

  .main-container .main-image {
    width: 50%;
  }

  .main-container {
    padding: 150px 0px 100px 150px;
    display: flex;
    flex-wrap: wrap;
  }

  #navbar .logo-container {
    display: flex;
    align-items: center;
    width: auto;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  /**** Packages ****/

  #packages h2 {
    margin-bottom: 40px;
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    font-weight: 700;
    align-items: start;
  }

  .card {
    width: 350px;
    height: 650px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }

  .card .card-image-1 {
    height: 250px;
  }

  .card .card-image-2 {
    height: 250px;
  }

  .card .card-image-3 {
    height: 250px;
  }

  .card .card-rating {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .column-container .countdown {
    width: 430px;
  }

  .tour-container {
    margin-top: 90px;
  }

  .tour {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  /** At 1161px the paragraphs in the .beach text section
  spill onto additional lines which makes the margin between this
  section & the section below appear bigger */
}

/* questions

1. I can't seem to get the h1 & a in the banner to vertically align, despite using align-items: center

2. The tour section is not very well aligned & not sure if i've done this in a good way

3. Wont the positioning of the blue box ontop of the image mess up when changing browser size? How can I center the div?

*/
